<div class="modal-dialog">
  <div class="registermodal-container">
    <h1>Edit user</h1><br>
    <form class="form-signin" (submit)="edit($event, name.value, lastName.value, age.value, gender.value, email.value, id.value)">
      <label for="name" class="sr-only">Name</label>
      <input #name type="text" id="name" class="form-control" placeholder="Name" required="" value="{{user.child('name').val()}}">
      
      <label for="lastName" class="sr-only">Last name</label>
      <input #lastName type="text" id="lastName" class="form-control" placeholder="Last name" required="" value="{{user.child('lastName').val()}}">
      
      <label for="age" class="sr-only">Age</label>
      <input #age type="number" id="age" min="18" max="100" class="form-control" placeholder="Age" required="" value="{{user.child('age').val()}}">

      <label for="gender" class="sr-only">Gender</label>
      <select #gender id="gender" required="" value="{{user.child('gender').val()}}">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>

      <label for="email" class="sr-only">Email address</label>
      <input #email type="email" id="email" class="form-control" placeholder="Email address" required="" autofocus="" value="{{user.child('email').val()}}" disabled="" >

      <input #id type="hidden" value="{{user.key}}">
      <br>
      <button  class="btn btn-md btn-primary btn-block" type="submit">Edit</button>
    </form>
  </div>
</div>